
$color-black: #000000;
$color-dark: #B79D64; /*forrest green*/
$color-dark-a: #bd9e5a7e; /*forrest green*/

$color-medium: #E4E0D7; /* goldenrod*/
$color-light: #D7F53B; /* Amarillo-naranja */
$color-text-bg: #F8F7EE;
$color-item: #EFFB9F;

$font-family-serif: 'Special Elite', cursive;
$font-family-monospace: 'Special Elite', cursive;

:root {
    --font-family-sans-serif: 'Special Elite', cursive;
    --font-family-sans-monospace: $font-family-serif;
}

@import "inc/general";
@import "inc/type";
@import "inc/buttons";
@import "inc/cards";
@import "inc/navbar";
@import "inc/header";
@import "inc/blocks";
@import "inc/posts";
@import "inc/pagination";
